<form
  [formGroup]="createCategoryForm"
  (ngSubmit)="onCreateCategoryFormSubmitted(createCategoryForm)"
>
  <div>
    <mat-form-field appearance="outline" class="mb-5"
      ><mat-label>Name</mat-label
      ><input
        matInput
        type="text"
        placeholder="Name"
        formControlName="name"
        required
      />
      <!--  TODO: Add proper validation  -->
      <mat-error *ngIf="!createCategoryForm.get('name')!.errors?.required"
        >Please use letters only</mat-error
      >
      <mat-error *ngIf="!createCategoryForm.get('name')!.errors?.pattern"
        >Entering a name is obligatory</mat-error
      >
    </mat-form-field>
  </div>
  <div>
    <!-- https://itnext.io/valid-and-invalid-in-angular-forms-61cfa3f2a0cd -->
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!createCategoryForm.valid"
    >
      Submit
    </button>
  </div>
</form>
