<h3 class="font-bold text-xl">Choose a category</h3>

<ng-container *ngIf="categories$ | async as categories; else loader">
  <ng-container *ngIf="categories.length > 0; else noCategories">
    <form [formGroup]="sortForm">
      <mat-form-field appearance="outline">
        <mat-label>Choose sorting option</mat-label>
        <mat-select formControlName="sortBy" [compareWith]="compareSortOptions">
          <mat-option
            *ngFor="let sortOption of sortOptions"
            [value]="sortOption"
            [disabled]="
              compareSortOptions(currentlySelectedSortOption, sortOption)
            "
          >
            {{ sortOption }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <mat-list role="list">
      <mat-list-item
        class="my-3"
        role="listitem"
        *ngFor="let category of categories"
        ><span
          [routerLink]="'categories/' + category.id"
          class="cursor-pointer hover:text-zinc-700 transition-colors transition-transform hover:scale-110 will-change-transform"
          >{{ category.name }}</span
        >
        <button
          [routerLink]="'categories/edit/' + category.id"
          mat-mini-fab
          class="ml-3 hover:bg-amber-200 transition-transform transition-colors hover:scale-110 will-change-transform"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </ng-container>
</ng-container>

<button
  mat-fab
  color="primary"
  class="mt-5 fixed right-10 bottom-10 hover:bg-primary-700 hover:scale-110 will-change-transform transition-colors transition-transform"
  routerLink="/categories/create"
>
  <mat-icon>add</mat-icon>
</button>

<ng-template #loader>
  <mat-progress-spinner
    [color]="'primary'"
    [mode]="'indeterminate'"
    [value]="50"
  >
  </mat-progress-spinner>
</ng-template>

<ng-template #noCategories>
  <div
    class="border-2 border-solid border-slate-200 p-4 m-10 flex flex-col items-center justify-items-center"
  >
    Sorry, there are no categories to be shown
  </div>
</ng-template>
