<ng-container *ngIf="categoryDetails$ | async as category; else smallLoader"
  >Welcome to category:
  <span class="capitalize">{{ category.name }}</span>

  <ng-container *ngIf="tasksInCategory$ | async as tasks; else loader">
    <ng-container *ngIf="tasks.length > 0; else noTasks">
      <table class="mat-elevation-z8 mt-10" [dataSource]="tasks" mat-table>
        <ng-container [matColumnDef]="tasksTableColumns[0]">
          <!-- Image -->
          <th *matHeaderCellDef mat-header-cell class="pr-8">
            {{ tasksTableColumns[0].valueOf() }}
          </th>
          <td *matCellDef="let element" mat-cell>
            <img
              [src]="element.imageUrl || '../../../assets/no-image.png'"
              class="h-8 w-8"
            />
          </td>
        </ng-container>

        <!-- Name -->
        <ng-container [matColumnDef]="tasksTableColumns[1]">
          <th *matHeaderCellDef mat-header-cell>
            {{ tasksTableColumns[1].valueOf() }}
          </th>
          <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
        </ng-container>

        <!-- Category ID -->
        <ng-container [matColumnDef]="tasksTableColumns[2]">
          <th *matHeaderCellDef mat-header-cell>
            {{ tasksTableColumns[2].valueOf() }}
          </th>
          <td *matCellDef="let element" mat-cell>
            <p class="flex flex-col items-center justify-center mb-0">
              {{ element.categoryId }}
            </p>
          </td>
        </ng-container>

        <!-- Team Members -->
        <ng-container
          [matColumnDef]="tasksTableColumns[3]"
          *ngIf="teamMembers$ | async as members"
        >
          <th *matHeaderCellDef mat-header-cell class="pr-8">
            {{ tasksTableColumns[3].valueOf() }}
          </th>
          <td *matCellDef="let element" mat-cell>
            <div class="flex flex-row">
              <ng-container>
                <!-- TODO: Now get the images only per task in which they actually appear, not all member avatars ever like now -->
                <img
                  *ngFor="let member of members"
                  [src]="member.avatar || '../../../assets/no-image.png'"
                  class="h-8 w-8 mr-2"
                />
              </ng-container>
            </div>
          </td>
        </ng-container>

        <!-- Edit -->
        <ng-container [matColumnDef]="tasksTableColumns[4]">
          <th *matHeaderCellDef mat-header-cell class="px-16">
            {{ tasksTableColumns[4].valueOf() }}
          </th>
          <td *matCellDef="let element" mat-cell>
            <div class="flex flex-col items-center justify-center mb-0">
              <button
                mat-mini-fab
                color="accent"
                class="hover:scale-110 will-change-transform transition-transform"
                [routerLink]="'../../tasks/edit/' + element.id"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Remove -->
        <ng-container [matColumnDef]="tasksTableColumns[5]">
          <th *matHeaderCellDef mat-header-cell class="pr-8">
            {{ tasksTableColumns[5].valueOf() }}
          </th>
          <td *matCellDef="let element" mat-cell>
            <div class="flex flex-col items-center justify-center mb-0">
              <button
                mat-mini-fab
                color="accent"
                class="hover:scale-110 will-change-transform transition-transform"
                (click)="removeTaskById(category.id, element.id)"
              >
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="tasksTableColumns" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: tasksTableColumns"
          mat-row
          class="h-16"
        ></tr>
      </table>
    </ng-container>
  </ng-container>
</ng-container>

<div>
  <button
    mat-fab
    class="mt-5 fixed right-10 bottom-10 hover:bg-primary-700 hover:scale-110 will-change-transform transition-colors transition-transform"
    color="primary"
    [routerLink]="'../../tasks/create'"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #smallLoader>
  <mat-progress-spinner
    [color]="'primary'"
    [mode]="'indeterminate'"
    [value]="50"
    [diameter]="25"
  >
  </mat-progress-spinner>
</ng-template>

<ng-template #loader>
  <mat-progress-spinner
    [color]="'primary'"
    [mode]="'indeterminate'"
    [value]="50"
  >
  </mat-progress-spinner>
</ng-template>

<ng-template #noTasks>
  <div
    class="border-2 border-solid border-slate-200 p-4 m-10 flex flex-col items-center justify-items-center"
  >
    Sorry, there are no tasks to be shown in this category
  </div>
</ng-template>
