@import './material-setup';
@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

// TODO: Move to a separate file, this should not be here
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: silver;
}
